@{
    ViewBag.Title = "CodeShare";
}


<main role="main" class="inner cover">
    <h1 class="cover-heading">World leading code sharing platform</h1>
    <p class="lead">Upload or view public files</p>
    <p class="lead">
        @Html.ActionLink("Upload File", "PublicFile", "Upload", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-secondary" })
        @Html.ActionLink("View Files", "ViewPublicFiles", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-secondary" })
    </p>
</main>